.webix_property_label {
	font-weight:500;
	color:#313131;
}
/* list of persons */
.userphoto{
	display:inline-block;
	border-radius:25px;
	width:48px;
	height:48px;
	float:left;
}
.text {
	padding:4px 4px 4px 16px;
	display:inline-block;
}
.username{
	font-size:14px;
	letter-spacing:0.2px;
	color:#313131;
	font-weight:500;
	line-height:20px;
	display:block;
}
.money{
	color:#475466;
	display:block;
	letter-spacing:0.2px;
	line-height:20px;
}
.persons_list .webix_list_item,
.persons_list .webix_list_item.webix_selected{
	padding:8px 12px;
}
/* toolbar buttons */
.logo{
	background:url(webix.svg) 12px 4px no-repeat;
}
.webix_el_label.main_label{
	line-height:36px;
}
.mainphoto{
	border-radius:25px;
	width:32px;
	height:32px;
	cursor:pointer;
}
.mainphoto:hover{
	opacity:0.8;
}
/* grid */
.complete{
	color:#1CA1C1;
}
.incomplete{
	color:#FF5C4C;
}
.complete, .incomplete{
	cursor: pointer;
	font-size: 20px;
	margin-top: 8px;
}
#datatable1538415083071 > div.webix_ss_body > div.webix_ss_center > div > div.webix_column.tags > div:nth-child(1) > span{
	vertical-align: middle;
}

/* Tag definition includes the section below. */
.tag{
	border-radius:20px;
	border:4px solid rgba(0, 0, 0, 0);
	color:#fff;
	background-color: black;
}

.active{
	background-color:green;
}
.new{
	background-color:#1ca1c1;
}
.blocked{
	background-color:red;
}
.investigation{
	background-color:gray;
}
/* headers (templates) */
.webix_view.chart_header{
	text-align: center;
}
/* notifications */
.notifications .webix_list_item{
	line-height:20px;
	padding:10px;
}
.notifications .webix_list_item .m_title{
	font-weight:500;
	color:#313131;
}
.notifications .webix_list_item .message{
	display:block;
	color:#475466;
}

.progress_result {
  height: 100%;
  float: left;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
  background: #eb6e1a;
}
.progress_bar_element {
  background-color: #f5f5f5;
  border-radius: 4px;
  width: 100%;
  height: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  margin-top: 16px;
  float: left;
  overflow: hidden;
  cursor: pointer;
}

.title_col {
	font-weight: "bold";
	color:black;
	font-weight:500;
}

.danger {
	color:red;
	font-weight:500;
}
	/* offset-x | offset-y | blur-radius | color */
	/* box-shadow: 10px 5px 5px black; */

	/* offset-x | offset-y | blur-radius | spread-radius | color */
	/* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
